.todo-item-container{
    background-color: #3c7d80;
    border-radius: 8px;
    width: 100%;
    margin:8px;
    padding: 10px;
}

.todo-text{
    color:white;
    margin: 10px;
    font-family: "roboto";
    font-size: 20px;
    text-align: center;
}

.checkbox-el{
    height: 22px;
    width:40px;
}